* {
	padding: 0;
	margin: 0;
}

.container {
	width: 350px;
	margin:auto;
}

input, select {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="radio"] {
	width:50px;
}


textarea{
	width: 300px;
}

button[type=submit] {
  width: 300px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}

div {
  background-color: #f2f2f2;
  padding: 10px 20px;
}

.gender-error {
	display: block;
}

.error-message {
	color: red;
}

.error input, .error select {
	border-color: red;
}

.error label {
	color: red;
}
